<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pokemon</title>
</head>
<body style="background-color: #f3fcff">
{% block body %}
<form style="font-family: cursive" method="post">
    <div class="container" style="margin-top: 50px">
        <div class="row justify-content-center">
            <div class="col-5">
                <img src="https://cdn.dribbble.com/users/1771704/screenshots/6124573/attachments/1313609/pokeball.gif" height="300px" width="450px">
            </div>
        </div>
      <div class="row justify-content-center" style="margin-top: 20px">
        <div class="col-4" style="text-align: center">
            {% csrf_token %}
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top: 10px">
        <div class="col-4">
            <div class="form-group" style="text-align: center">
                {{ form.as_p }}
            </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="text-align: center; margin-left: 10px">
        <div class="col-2">
            <button type="submit" class="btn btn-outline-primary" href="menu/" role="button">Connexion</button>
            <a class="btn btn-outline-primary" href="inscription/" role="button">Inscription</a>
        </div>
    </div>
</form>
{% endblock body %}

</body>
</html>