<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pokemon</title>
</head>
<body style="font-family: cursive; background-color: #f9bdbd">
<div class="container" style="margin-top: 50px">
    <div>
        <h3 style="text-align: center; margin-top: 10px">Un combat {{ user.username }} !!! </h3>
    </div>
    <div class="row justify-content-center" style="margin-top: 30px">
        <div class="col-12">
            <div class="card text-center" style="height: 700px">
                <div class="card-header" style="background-color: #f9bdbd">
                    Sur la route ...
                </div>


                <div class="card-body" style="text-align: left">
                    <h4 style="text-align: left">Mes Pokemons</h4>
                    {% for mypokemon in mypokemons %}
                        <br>
                        {% for pokemon_name in mypokemon.pokemon_name.all %}
                            <p class="card-text">{{ pokemon_name }}</p>
                        {% endfor %}
                        <p class="card-text">vie actuelle : {{ mypokemon.vie }}</p>
                        {% for attaque_name in mypokemon.attaque_name.all %}
                            <input type="submit" class="card-text" value="Attaquer : ">{{ attaque_name }}, Dégat :
                            {{ attaque_name.id }} {{ attaque_name.degat }} </input>
                            <br>
                        {% endfor %}
                    {% endfor %}
                </div>


                <div class="card-body" style="text-align: left">
                    <h4 align="left">Pokemons Ennemies</h4>
                    {% for adversaire in adversaires %}
                        <br>
                        {% for pokemon_name in adversaire.pokemon_name.all %}
                            <p class="card-text">{{ pokemon_name }}</p>
                        {% endfor %}
                        <p class="card-text">vie actuelle : {{ adversaire.vie }}</p>
                    {% endfor %}
                </div>

                <a href="marchand/" class="btn btn-primary" style="background-color: #beb4b5">Continuer</a>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="page-footer font-small blue" style="margin-top: 40px">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Amaury HERY et Paul CHATELIER</a>
    </div>
    <!-- Copyright -->

</footer>
</html>