<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pokemon</title>
</head>
<body style="background-color: #f3fcff">
{% block body %}
    <form style="font-family: cursive">
        <div class="container" style="margin-top: 50px">
            <div class="row justify-content-center">
                <div class="col-5">
                    <img src="https://cdn.dribbble.com/users/1771704/screenshots/6124573/attachments/1313609/pokeball.gif"
                         height="300px" width="450px">
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 20px">
                <div class="col-4" style="text-align: center">
                    <label for="formGroupExampleInput">Pseudo</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Pseudo"
                           style="text-align: center">
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 10px">
                <div class="col-4">
                    <div class="form-group" style="text-align: center">
                        <label for="exampleInputPassword1">Mot de Passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Mot de Passe" style="text-align: center">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="text-align: center">
            <div class="col-2">
                <a class="btn btn-outline-primary" href="menu/" role="button">Connexion</a>
                <a class="btn btn-outline-primary" href="inscription/" role="button">Inscription</a>
            </div>
        </div>
    </form>
{% endblock body %}
</body>
</html>