<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Inventaire</title>
</head>
<body style="background-color: #f3fcff">
<!-- Image and text -->
<nav style="background-color: #f3fcff">
    <a class="navbar-brand" href="/menu" style="margin-top: 5px">
        <img src="https://cdn.dribbble.com/users/1771704/screenshots/6124573/attachments/1313609/pokeball.gif"
             width="60" height="60" class="d-inline-block align-top" alt="">
        Menu
    </a>
</nav>
<table class="table table-striped">
    <tbody>
    {% for NB_item in NB_items %}
        <tr>
            <th scope="row">PokeBall</th>
            <td>{{ NB_item.poke_ball }}</td>
        </tr>
        <tr>
            <th scope="row">SuperBall</th>
            <td>{{ NB_item.super_ball }}</td>
        </tr>
        <tr>
            <th scope="row">HyperBall</th>
            <td>{{ NB_item.hyper_ball }}</td>
        </tr>
        <tr>
            <th scope="row">Potion</th>
            <td>{{ NB_item.potion }}</td>
        </tr>
        <tr>
            <th scope="row">SuperPotion</th>
            <td>{{ NB_item.super_potion }}</td>
        </tr>
        <tr>
            <th scope="row">HyperPotion</th>
            <td>{{ NB_item.hyper_potion }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>