<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pokemon</title>
</head>
<body style="font-family: cursive; background-color: #f9bdbd">
<div class="container" style="margin-top: 50px">
    <div>
        <h3 style="text-align: center; margin-top: 10px">Un marchand {{ user.username }} !!! </h3>
    </div>
    <div class="row justify-content-center" style="margin-top: 30px">
        <div class="col-12">
            <div class="card text-center" style="height: 700px">
                <div class="card-header" style="background-color: #f9bdbd">
                    Sur la route ...
                </div>
                <div class="card-body" style="text-align: left">
                    <h4 style="text-align: left">Mon Inventaire</h4>
                    {% for mon_inventaire in mon_inventaires %}

                        <p class="card-text">PokeBall : {{ mon_inventaire.poke_ball }}</p>
                        <p class="card-text">SuperBall : {{ mon_inventaire.super_ball }}</p>
                        <p class="card-text">HyperBall : {{ mon_inventaire.hyper_ball }}</p>
                        <p class="card-text">Potion : {{ mon_inventaire.potion }}</p>
                        <p class="card-text">SuperPotion : {{ mon_inventaire.super_potion }}</p>
                        <p class="card-text">HyperPotion : {{ mon_inventaire.hyper_potion }}</p>

                    {% endfor %}
                </div>
                <div class="card-body" style="text-align: left">
                    <h4 class="card-text" align="left">A Vendre</h4>

                    {% for son_inventaire in son_inventaires %}

                        <input type="submit" class="card-text" value="Acheter : "> PokeBall :
                        {{ son_inventaire.poke_ball }} </input><br>
                        <input type="submit" class="card-text" value="Acheter : "> SuperBall :
                        {{ son_inventaire.super_ball }} </input><br>
                        <input type="submit" class="card-text" value="Acheter : "> HyperBall :
                        {{ son_inventaire.hyper_ball }} </input><br>
                        <input type="submit" class="card-text" value="Acheter : "> Potion : {{ son_inventaire.potion }}
                        </input><br>
                        <input type="submit" class="card-text" value="Acheter : "> SuperPotion :
                        {{ son_inventaire.super_potion }} </input><br>
                        <input type="submit" class="card-text" value="Acheter : "> HyperPotion :
                        {{ son_inventaire.hyper_potion }} </input><br>

                    {% endfor %}

                </div>
                <a href="../../" class="btn btn-primary" style="background-color: #beb4b5">Arriver à la ville</a>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="page-footer font-small blue" style="margin-top: 40px">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Amaury HERY et Paul CHATELIER</a>
    </div>
    <!-- Copyright -->

</footer>
</html>