<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pokemon</title>
</head>
<body style="font-family: cursive; background-color: #f3fcff">
<div class="container" style="margin-top: 50px">
    <div class="row justify-content-center">
        <div class="col-5" style="margin-left: -430px">
            <img src="https://assets.sutori.com/user-uploads/image/8c810973-ea1b-49ed-bcc2-b5d62ac2cbe1/b184e863cc376fc9cc1818f8f189edc3.jpeg"
                 height="300px" width="900px">
        </div>
    </div>
    <div>
        <h3 style="text-align: center; margin-top: 10px">Bienvenue {{ user.username }}</h3>
    </div>
    <div class="row justify-content-center" style="margin-top: 30px">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header" style="background-color: #97bef2">
                    Mon Pokedex
                </div>
                <div class="card-body">
                    <h5 class="card-title">Accèdez à votre Pokedex</h5>
                    <p class="card-text">En voyant votre Pokédex vous allez pouvoir voir la liste de vos Pokemons</p>
                    <a href="pokedex/" class="btn btn-primary" style="background-color: #beb4b5">Allons-y</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header" style="background-color: #97bef2">
                    Mon Inventaire
                </div>
                <div class="card-body">
                    <h5 class="card-title">Accèdez à votre Inventaire</h5>
                    <p class="card-text">En voyant votre Inventaire vous allez pouvoir voir la liste de vos Items</p>
                    <a href="inventaire/" class="btn btn-primary" style="background-color: #beb4b5">Allons-y</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 30px">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header" style="background-color: #97bef2">
                    Voyagez
                </div>
                <div class="card-body">
                    <h5 class="card-title">Découvrez le monde de Pokemon</h5>
                    <p class="card-text">Voyagezz à travers le monde de pokemon et attrapez les tous !</p>
                    <a href="voyage/" class="btn btn-primary" style="background-color: #beb4b5">Allons-y</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header" style="background-color: #97bef2">
                    Boutique de ville
                </div>
                <div class="card-body">
                    <h5 class="card-title">Accèdez à une boutique</h5>
                    <p class="card-text">Achetez de nouveaux Items comme des Pokéballs ou autres...</p>
                    <a href="#" class="btn btn-primary" style="background-color: #beb4b5">Allons-y</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="page-footer font-small blue" style="margin-top: 40px">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Amaury HERY et Paul CHATELIER</a>
    </div>
    <!-- Copyright -->

</footer>
</html>