<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Pokedex</title>
</head>
<body style="background-color: #f3fcff">
<!-- Image and text -->
<nav style="background-color: #f3fcff">
    <a class="navbar-brand" href="/menu" style="margin-top: 5px">
        <img src="https://cdn.dribbble.com/users/1771704/screenshots/6124573/attachments/1313609/pokeball.gif"
             width="60" height="60" class="d-inline-block align-top" alt="">
        Menu
    </a>
</nav>
<table class="table table-striped">
    <tbody>
    {% for pokemon in pokemonss %}
        <tr>
            <th scope="row">{{ pokemon.id }}</th>
            <td>{{ pokemon }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>